.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext{
    visibility: hidden;
    width: 120px;

    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    margin: 25px 0px 0px -20px;
    z-index: 1;
}

.tooltiptext{
    background-color: black;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
